:root {
    --color-gold: #bdae82;
    --color-black: #000000;
    --color-white: #ffffff;
  }

html {
    scroll-behavior: smooth; 
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-white);
    background-color: var(--color-black);
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.wrapper__content {
    width: 1440px;
    margin: 0  auto;
}

/* Header */

.header__image {
    background: url('../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.logo {
    margin: 25px auto 0 20px;
    background-image: url('../assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.button {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    width: 220px;
    height: 55px;
    background: #BDAE82;
}

.button:hover {
    color:var(--color-white);
    transition: 0.3s;
}

/* Navigation */

.navigation {
    display: flex;
    justify-content: end;
}


.navigation__list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 32px;
}

.navigation__item {
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 31px;
}

.navigation__item:last-child {
    padding-right: 0;
}

.navigation__link {
    line-height: 50px;
    color: var(--color-white);
}

.navigation__link:hover {
    color: var(--color-gold);
    transition: 0.3s;
}

.language {
    padding-right: 18px;
    position: relative;
    padding-top: 20px;
}

.language::before {
    position: absolute;
    content: " ";
    border: 1px solid var(--color-white);
    height: 18px;
    left: 36px;
    top: 36px;
    transform: rotate(15deg);
}

.language-button {
    padding-right: 20px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    background: inherit;
    color: var(--color-white);
}

.language-button:last-child {
    padding: 0;
}

.language-button__current {
    color: var(--color-gold);
}

/* Hero */

.hero__block {
    padding-top: 160px;
    padding-left: 80px;
}

.hero__image {
    background: url('../assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    padding-bottom: 330px;
}

.hero__title {
    font-family: "Merriweather";
    font-size: 60px;
    line-height: 120px;
    
}

.hero__text {
    padding-top: 10px;
    padding-bottom: 25px;
}

/* Skills */

.wrapper {
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.section-title {
    margin: auto;
    display: inline-block;
    font-family: "Merriweather";
    font-size: 40px;
    line-height: 80px;
    color: var(--color-gold);
    background-color: var(--color-black);
    padding: 0 20px;
}

.skills__list {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    text-align: center;
    padding: 0 20px 10px 20px;
}

.skills__item {
    width: 280px;
    padding-top: 60px;
}

.skills__description {
    padding-top: 50px;
    font-weight: 700;
}

.skills__text {
    padding-top: 20px;
    font-size: 18px;
    line-height: 36px;
}

/* Portfolio */

.portfolio__list {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.inactive__button {
    border: 2px solid #BDAE82;
    background-color: var(--color-black);
    color: var(--color-gold);
}

.portfolio__list__img {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.portfolio__item__img {
    transition: 1s;
}

.portfolio__item__img:hover {
    transform: scale(1.05);
}

/* Video */

.video__player {
    padding-top: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__play {
    position: absolute;
    background-image: url('../assets/svg/play_hover.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    width: 130px;
    height: 130px;
    cursor: pointer;
    background-color: initial;
}

.button__play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/* Price */

.price__list {
    padding-top: 60px;
    display: flex;
    gap: 25px;
}

.price__item {
    text-align: center;
    width: 450px;
    height: 505px;
    border: 3px solid #BDAE82;
}

.price__title {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    display: block;
    font-family: "Merriweather";
    font-size: 28px;
    line-height: 56px;
}

.price__cost {
    font-family: "Merriweather";
    font-size: 24px;
    line-height: 48px;
    color: var(--color-gold); 
}

.price__wrapper-description {
    padding: 20px 0 40px 0;
}

.price__description {
    display: block;
    font-size: 18px;
    line-height: 36px;
}

/* Contacts */

.contacts {
    padding-top: 100px;
}

.section__container {
    display: flex;
    justify-content: flex-end;
    width: 1440px;
    margin: 0 -20px;
    height: 700px;
}

.contacts .section__container {
    background: url('../assets/img/contacts-bg.jpg');
    background-size: auto 700px;
    background-position: center center;
}

.contacts__wrapper {
    padding: 60px 20px 0 0;
    gap: 20px;
}

.contacts__title {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: var(--color-gold);
}

.contacts__form {
    padding-top: 20px;
    line-height: 40px;
}

.input {
    margin-top: 20px;
    width: 450px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    border: 2px solid #BDAE82;
    padding-left: 19px;
    color: var(--color-gold);
    font-size: 20px;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.textarea {
    font-family: "Inter";
    font-size: 20px;
    line-height: 40px;
    color: var(--color-gold);
    padding-left: 19px;
    padding-top: 3px;
    margin: 20px 0 30px 0;
    display: block;
    width: 450px;
    height: 100px;
    resize: none;
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.5);
}

/* Footer */

.footer__wrapper {
    line-height: 50px;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.footer__data {
    display: flex;
    gap: 20px;
}

.github__link {
    color: var(--color-white);
}

.github__link:hover {
    color: var(--color-gold);
    transition: 0.3s;
}

.school__link {
    color: var(--color-white);
    padding-left: 20px;
}

.school__link:hover {
    color: var(--color-gold);
    transition: 0.3s;
}

.social__list {
    padding-top: 10px;
    display: flex;
    gap: 20px;
}

.instagram__icon {
    background: url('../assets/svg/inst.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.instagram__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.facebook__icon {
    background: url('../assets/svg/fb.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.facebook__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.twitter__icon {
    background: url('../assets/svg/tw.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.twitter__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.pinterest__icon {
    background: url('../assets/svg/pinterest.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.pinterest__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}