:root {
    --color-gold: #bdae82;
    --color-black: #000000;
    --color-white: #ffffff;
  }

html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: var(--color-white);
    background-color: var(--color-black);
}

body.light-theme {
    background-color: var(--color-white);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    
}

.wrapper__content {
    max-width: 1440px;
    margin: 0  auto;
   
}

.wrapper {
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}

.wrapper.light-theme {
    background-image: linear-gradient(to top, #fff 39px, #000 39px, #000 41px, #fff 41px); 
}

@media (max-width: 768px) {
    .wrapper {
        padding-top: 80px;
    }
}

/* Header */

.header__image {
    background: url('../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header__image.light-theme {
    background: url('../assets/img/light-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

@media (max-width: 768px) {
    .header__image {
    height: 90px;
    background-image: url('../assets/img/bg-768.jpg');
    }
}

.logo {
    margin: 25px auto 0 20px;
    background-image: url('../assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.logo.light-theme {
    background-image: url('../assets/svg/logo-light.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s; 
}

@media (max-width: 768px) {
    .logo {
    margin-left: 60px;
    }
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.button {
    position: relative;
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    width: 220px;
    height: 55px;
    background: #BDAE82;
    transition:0.5s;
}

.button:hover, .button:focus{
	box-shadow: inset -7em 0 0 0 #af7124, inset 7em 0 0 0 #af7124;
}

/* Navigation */

.navigation {
    display: flex;
    justify-content: end;
    position: relative;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    padding-right: 32px;
}

@media (max-width: 768px) {
    .navigation__list {
        display: none;
    } 
}

.navigation__item {
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 31px;
}

.navigation__item:last-child {
    padding-right: 0;
}

.navigation__link {
    line-height: 50px;
    color: var(--color-white);
}

.navigation__link.light-theme {
    color: var(--color-black)
}
.navigation__link:hover {
    color: var(--color-gold);
    transition: 0.3s;
}

.language {
    padding-right: 18px;
    position: relative;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .language {
       padding-right: 134px;
    } 
}

.language::before {
    position: absolute;
    content: " ";
    border: 1px solid var(--color-white);
    height: 18px;
    left: 36px;
    top: 36px;
    transform: rotate(15deg);
}

.language-button {
    margin-right: 20px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 700;
    background: inherit;
    color: var(--color-white);
    cursor: pointer;
    text-transform: uppercase;
}

.language-button.current {
    color: var(--color-gold);
}

.language-button.current.light-theme {
    color: var(--color-black);
}

.language-button:last-child {
    padding: 0;
}

.theme-container {
    margin-top: 20px;
    margin-right: 20px;
    background: url('../assets/svg/theme-dark.svg');
    width: 45px;
    height: 45px;
    background-size: contain;
    cursor: pointer;
    background-repeat: no-repeat;
}

.theme-container.light-theme {
    background: url('../assets/svg/theme-light.svg');
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .theme-container {
       display: none;
    } 
}

/* Hamburger */

.burger-menu__button {
    display: none;
    position: absolute;
    top: 31px;
    right: 64px;
    z-index: 2;
    width: 50px;
    height: 28px;
    background: inherit;
}

@media (max-width: 768px) {
    .burger-menu__button {
        display: block;
    } 
}

.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
    position: absolute;
    width: 50px;
    height: 2px;
    background: #ffffff;
}

.burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.burger-menu__lines::before {
    content: "";
    top: -12px;
    transition: 0.5s;
}

.burger-menu__lines::after {
    content: "";
    top: 12px;
    transition: 0.5s;
}

.burger-menu_active .burger-menu__lines {
    background: transparent;
}

.burger-menu_active .burger-menu__lines::before {
    top: 0;
    transform: rotate(45deg);
}

.burger-menu_active .burger-menu__lines::after {
    top: 0;
    transform: rotate(-45deg);
}

.burger-menu__nav {
    padding-top: 28px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #000000;
    right: -620px;
    transition: 1s;
    overflow-x: hidden;
}

.burger-menu__nav.input.light-theme {
    background: var(--color-white);
    color: var(--color-black);
}

.burger-menu__nav_list {
    font-family: "Inter";
    font-weight: 400;
    font-size: 35px;
    line-height: 73px;
    padding-left: 97px;
    padding-top: 106px;
}

.burger-menu__item {
    padding-bottom: 16px;
}

.burger-menu_active .burger-menu__nav {
    position: absolute;
    right: 0;
    width: 620px;
    height: 100vh;
    transition: 1s;
}


.burger-menu_active .burger-menu__nav.light-theme {
    position: absolute;
    right: 0;
    width: 620px;
    height: 100vh;
    transition: 1s;
    background: var(--color-white);
    color: var(--color-black)
}


.burger-menu__link {
    padding: 30px;
    color: #ffffff;
}

.burger-menu__link.light-theme {
    padding: 30px;
    color: var(--color-black);
}

/* Hero */

.hero__block {
    padding-top: 160px;
    padding-left: 80px;
    max-width: 550px;
}

.hero__block.light-theme {
    color: var(--color-black);
}

.hero__block .button.light-theme {
    background: var(--color-white);
}
@media (max-width: 768px) {
    .hero__block {
        padding-top: 78px;
        padding-left: 60px;
        width: 450px;
    } 
}

@media (max-width: 460px) {
    .hero__block {
        padding: 0;
        width: auto;
        text-align: center;
    } 
}

.hero__image {
    background: url('../assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    padding-bottom: 330px;
}

.hero__image.light-theme {
    background: url('../assets/img/light-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .hero__image {
    height: 499px;
    background-image: url('../assets/img/bg-768.jpg');
    padding-bottom: 0;
 }
}

.hero__title {
    font-family: "Merriweather";
    font-size: 60px;
    line-height: 120px;
    font-weight: 700;
    
}

@media (max-width: 768px) {
    .hero__title {
    font-size: 32px;
    line-height: 64px;
    font-weight: 400;
 }
}

.hero__text {
    padding-top: 10px;
    padding-bottom: 25px;
}

@media (max-width: 768px) {
    .hero__text {
    padding-top: 20px;
    padding-bottom: 59px;
    line-height: 24px;
 }
}

/* Skills */

.skills.light-theme {
    background: var(--color-white);
    color: var(--color-black)
}

.section-title {
    margin: auto;
    display: inline-block;
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: var(--color-gold);
    background-color: var(--color-black);
    padding: 0 22px;
}

.section-title.light-theme {
    color: var(--color-black);
    background-color: var(--color-white);
}

@media (max-width: 768px) {
    .section-title {
        font-size: 32px;
        font-weight: 700;
    }
}


.skills__list {
    display: flex;
    gap: 79px;
    flex-wrap: wrap;
    text-align: center;
    padding: 60px 23px 10px 20px;
    justify-content: center;
}

@media (max-width: 768px) {
    .skills__list {
        justify-content: space-around;
        padding: 45px 23px 4px 18px;
        gap: 0;
    }
}

.skills__item {
    width: 280px;
}

@media (max-width: 768px) {
    .skills__item {
        padding-bottom: 74px;
    }
}

.skills__description {
    padding-top: 50px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .skills__description  {
        padding-top: 30px;
    }
}


.skills__text {
    padding-top: 22px;
    font-size: 18px;
    line-height: 36px;
}

@media (max-width: 768px) {
    .skills__text  {
        line-height: 22px;
    }
}

/* Portfolio */

.portfolio.light-theme {
    background: var(--color-white);
    color: var(--color-black)
}

.portfolio__list {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

@media (max-width: 768px) {
    .portfolio__list  {
        padding: 51px 140px 0 140px;
    }
}

.portfolio-button {
    font-family: "Inter";
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    width: 220px;
    height: 55px;
    background: inherit;
    border: 2px solid var(--color-gold);
    color: var(--color-gold);
    transition:0.5s;
}

.portfolio-button.light-theme {
    color: var(--color-black);
    background: var(--color-gold);
}

.portfolio-button.active {
    background: var(--color-gold);
    color: var(--color-black)
}

.portfolio-button.active.light-theme {
    background: var(--color-black);
    color: var(--color-gold)
}

.portfolio-button:hover {
	box-shadow: inset -7em 0 0 0 #BDAE82, inset 7em 0 0 0 #BDAE82;
    color: var(--color-black);
}

.portfolio-button.light-theme:hover {
	box-shadow: inset -7em 0 0 0 #af7124, inset 7em 0 0 0 #af7124;
    color: var(--color-black);
}

.portfolio__list__img {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

@media (max-width: 768px) {
    .portfolio__list__img  {
        justify-content: space-around;
    }
}

.portfolio__item__img {
    transition: 1s;
}

.portfolio__item__img:hover {
    transform: scale(1.05);
}

.portfolio__img {
    max-width: 100%;
    height: auto;
}

/* Video */

.video__player {
    max-width: 1400px;
    margin-top: 58px;
    height: 705px;
    background: url('../assets/img/video-player.jpg') no-repeat center;
    background-size: auto 705px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .video__player  {
        background: url('../assets/img/video-player-768.jpg') no-repeat center;
        background-repeat: no-repeat;
        margin: 50px -20px 0;
        height: 418px;
    }
}

.button__play {
    position: absolute;
    background-image: url('../assets/svg/play_hover.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    width: 130px;
    height: 130px;
    cursor: pointer;
    background-color: initial;
}

@media (max-width: 768px) {
    .button__play  {
        width: 65px;
        height: 65px; 
    }
}

.button__play:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

/* Price */

.price__list {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .price__list  {
        padding-top: 50px;
        justify-content: space-around;
        gap: 50px;
    }
}

.price__item {
    text-align: center;
    width: 450px;
    height: 505px;
    border: 3px solid #BDAE82;
}

.price__item.light-theme {
    color: var(--color-black);
}

@media (max-width: 768px) {
    .price__item  {
        max-width: 420px;
    }
}

.price__title {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    display: block;
    font-family: "Merriweather";
    font-size: 28px;
    line-height: 56px;
}

.price__cost {
    font-family: "Merriweather";
    font-size: 24px;
    line-height: 48px;
    color: var(--color-gold); 
}

.price__cost.light-theme {
    color: var(--color-black);
}

.price__wrapper-description {
    padding: 20px 0 40px 0;
}

.price__description {
    display: block;
    font-size: 18px;
    line-height: 36px;
}

/* Contacts */

.contacts {
    padding-top: 100px;
}

@media (max-width: 768px) {
    .contacts  {
        padding-top: 80px;
    }
}

.section__container {
    display: flex;
    justify-content: flex-end;
    max-width: 1440px;
    margin: 0 -20px;
    height: 700px;
}

@media (max-width: 768px) {
    .section__container  {
        justify-content: space-around;
        height: 600px;
    }
}

.contacts .section__container {
    background: url('../assets/img/contacts-bg.jpg');
    background-size: auto 700px;
    background-position: center center;
}

.contacts .section__container.light-theme {
    background: url('../assets/img/contacts-bg-light.jpg');
    background-size: auto 700px;
    background-position: center center;
}

@media (max-width: 768px) {
    .contacts .section__container  {
        background: url('../assets/img/contacts-bg-768.jpg');
        background-repeat: no-repeat;
    }
}

.contacts__wrapper {
    padding: 60px 20px 0 0;
    gap: 20px;
}

@media (max-width: 768px) {
    .contacts__wrapper  {
        padding: 60px 0 0 0;
    }
}

.contacts__title {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 40px;
    line-height: 80px;
    color: var(--color-gold);
}

.contacts__title.light-theme {
    color: var(--color-black);
}

@media (max-width: 768px) {
    .contacts__title  {
        text-align: center;
        font-size: 32px;
        line-height: 64px;
    }
}

.contacts__form {
    padding-top: 20px;
    line-height: 40px;
}

.contacts__form .button.light-theme {
    background: var(--color-white);
}

@media (max-width: 768px) {
    .contacts__form  {
        text-align: center;
    }
}

.input {
    margin-top: 20px;
    width: 450px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    border: 2px solid #BDAE82;
    padding-left: 19px;
    color: var(--color-gold);
    font-size: 20px;
}

.input.light-theme {
    color: var(--color-black);
    background: rgb(255,255,255, 0.5);
}

@media (max-width: 460px) {
    .input {
        max-width: 320px;
        height: auto; 
    } 
}

.input::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.input.light-theme::placeholder {
    color: var(--color-black);
}

.textarea {
    font-family: "Inter";
    font-size: 20px;
    line-height: 40px;
    color: var(--color-gold);
    padding-left: 19px;
    padding-top: 3px;
    margin: 20px 0 30px 0;
    display: block;
    width: 450px;
    height: 100px;
    resize: none;
    border: 2px solid #BDAE82;
    background: rgba(0, 0, 0, 0.5);
}

.textarea.light-theme {
    color: var(--color-black);
    background: rgb(255,255,255, 0.5);
}

.textarea::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

.textarea.light-theme::placeholder {
    color: var(--color-black);
}

@media (max-width: 460px) {
    .textarea {
        max-width: 320px;
        height: auto; 
    } 
}

/* Footer */

.footer__wrapper {
    line-height: 50px;
    padding: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .footer__wrapper  {
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 28px 0 36px 0;
    }
}

.footer__data {
    display: flex;
    gap: 20px;
}

.footer__data.light-theme {
    color: var(--color-black);
}

@media (max-width: 768px) {
    .footer__data  {
        line-height: 24px;
        gap: 22px;
        padding-right: 5px;
    }
}

.github__link {
    color: var(--color-white);
}

.github__link.light-theme {
    color: var(--color-black);
}

.github__link:hover {
    color: var(--color-gold);
    transition: 0.3s;
}

.school__link {
    color: var(--color-white);
    padding-left: 20px;
}

.school__link.light-theme {
    color: var(--color-black);
}

@media (max-width: 768px) {
    .school__link  {
        padding: 0;
        line-height: 24px;
        padding-top: 16px;
    }
}

.school__link:hover {
    color: var(--color-gold);
    transition: 0.3s;
}

.social__list {
    padding-top: 10px;
    display: flex;
    gap: 20px;
}

@media (max-width: 768px) {
    .social__list  {
        padding-top: 30px;
    }
}


.instagram__icon {
    background: url('../assets/svg/inst.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.instagram__icon.light-theme {
    background: url('../assets/svg/inst-light.svg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.instagram__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.facebook__icon {
    background: url('../assets/svg/fb.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.facebook__icon.light-theme {
    background: url('../assets/svg/fb-light.svg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.facebook__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.twitter__icon {
    background: url('../assets/svg/tw.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.twitter__icon.light-theme {
    background: url('../assets/svg/tw-light.svg');
    background-repeat: no-repeat;
    background-position: center 0;
}


.twitter__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.pinterest__icon {
    background: url('../assets/svg/pinterest.svg');
    background-repeat: no-repeat;
    background-position: center 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.3s;
}

.pinterest__icon.light-theme {
    background: url('../assets/svg/pinterest-light.svg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.pinterest__icon:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}
